<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="print" href="assets/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link href="assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="assets/css/green.css" rel="stylesheet" title="Color">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.transitions.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Icons/Glyphs -->
    <link href="assets/fonts/fontello.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45007566-2', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- /.Google Analytics -->
</head>

<body>

<!-- ============================================================= HEADER ============================================================= -->

<header>
<div class="navbar">

<div class="navbar-header">
    <div class="container">

        <ul class="info pull-left">
            <li><a href="mailto:<%= email %>"><i class="icon-mail-1 contact"></i><%= email %></a></li>
            <li><a href="<%= skype_chat %>"><i class="icon-s-skype contact"></i><%= skype %></a></li>
            <li><a href="<%= twitter_path %>" target="_blank"><i class="icon-s-twitter contact"></i><%= twitter_handle %></a></li>
        </ul>
        <!-- /.info -->

        <ul class="social pull-right">
            <li><a href="#"><i class="icon-s-facebook"></i></a></li>
            <li><a href="#"><i class="icon-s-gplus"></i></a></li>
            <li><a href="#"><i class="icon-s-twitter"></i></a></li>
            <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-s-behance"></i></a></li>
            <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
        </ul>
        <!-- /.social -->

        <!-- ============================================================= LOGO MOBILE ============================================================= -->

        <h1><a class="navbar-brand" href="index.html"><%= name %></a></h1>

        <!-- ============================================================= LOGO MOBILE : END ============================================================= -->

        <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i
                    class='icon-menu-1'></i></a>

    </div>
    <!-- /.container -->
</div>
<!-- /.navbar-header -->

<div class="yamm">
<div class="navbar-collapse collapse">
<div class="container">

<!-- ============================================================= LOGO ============================================================= -->

<!-- ============================================================= LOGO : END ============================================================= -->


<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

<ul class="nav navbar-nav">

<li class="dropdown">
    <a href="#" class="dropdown-toggle js-activated">Home</a>

    <ul class="dropdown-menu">
        <li><a href="index.html">Agency Style</a></li>
        <li><a href="index2.html">Product Style</a></li>
        <li><a href="index3.html">Service Style</a></li>
        <li><a href="index4.html">Portfolio Style</a></li>
        <li><a href="index5.html">Showcase Style</a></li>
    </ul>
    <!-- /.dropdown-menu -->
</li>
<!-- /.dropdown -->

<li class="dropdown">
    <a href="#" class="dropdown-toggle js-activated">Portfolio</a>

    <ul class="dropdown-menu">
        <li><a href="portfolio.html">3 Columns Grid</a></li>
        <li><a href="portfolio2.html">3 Columns Details Grid</a></li>
        <li><a href="portfolio3.html">4 Columns Grid</a></li>
        <li><a href="portfolio4.html">4 Columns Details Grid</a></li>
        <li><a href="portfolio5.html">Fullscreen Grid</a></li>
        <li><a href="portfolio-post.html">Post with Slider I</a></li>
        <li><a href="portfolio-post2.html">Post with Slider II</a></li>
        <li><a href="portfolio-post3.html">Post with Images I</a></li>
        <li><a href="portfolio-post4.html">Post with Images II</a></li>
        <li><a href="portfolio-post5.html">Post with Video</a></li>
        <li><a href="portfolio-post6.html">Post with Audio</a></li>
    </ul>
    <!-- /.dropdown-menu -->
</li>
<!-- /.dropdown -->

<li class="dropdown">
    <a href="#" class="dropdown-toggle js-activated">Blog</a>

    <ul class="dropdown-menu">
        <li><a href="blog.html">Sidebar right</a></li>
        <li><a href="blog2.html">Sidebar left</a></li>
        <li><a href="blog3.html">Without Sidebar</a></li>
        <li><a href="blog4.html">2 Columns Grid Sidebar right</a></li>
        <li><a href="blog5.html">2 Columns Grid Sidebar left</a></li>
        <li><a href="blog6.html">2 Columns Grid without Sidebar</a></li>
        <li><a href="blog7.html">3 Columns Grid without Sidebar</a></li>
        <li><a href="blog-post.html">Post Sidebar right</a></li>
        <li><a href="blog-post2.html">Post Sidebar left</a></li>
        <li><a href="blog-post3.html">Post without Sidebar</a></li>
    </ul>
    <!-- /.dropdown-menu -->
</li>
<!-- /.dropdown -->

<li class="dropdown">
    <a href="#" class="dropdown-toggle js-activated">Pages</a>

    <ul class="dropdown-menu">
        <li><a href="about.html">About I</a></li>
        <li><a href="about2.html">About II</a></li>
        <li><a href="services.html">Services I</a></li>
        <li><a href="services2.html">Services II</a></li>
        <li><a href="services3.html">Services III</a></li>
        <li><a href="pricing.html">Pricing I</a></li>
        <li><a href="pricing2.html">Pricing II</a></li>
        <li><a href="sidenav.html">Side Navigation</a></li>
    </ul>
    <!-- /.dropdown-menu -->
</li>
<!-- /.dropdown -->

<li class="dropdown">
    <a href="#" class="dropdown-toggle js-activated">Features</a>

    <ul class="dropdown-menu">

        <li><a href="slider-carousel.html">Slider/Carousel</a></li>
        <li><a href="tab.html">Tab</a></li>
        <li><a href="accordion.html">Accordion</a></li>
        <li><a href="isotope.html">Isotope</a></li>
        <li><a href="styles.html">Styles</a></li>
        <li><a href="font-icons.html">Font Icons</a></li>
        <li><a href="backgrounds.html">Backgrounds</a></li>

        <li class="dropdown-submenu">
            <a href="#">Colors</a>

            <ul class="dropdown-menu">
                <li><a class="changecolor green" title="Green color">Green</a></li>
                <li><a class="changecolor blue" title="Blue color">Blue</a></li>
                <li><a class="changecolor red" title="Red color">Red</a></li>
                <li><a class="changecolor pink" title="Pink color">Pink</a></li>
                <li><a class="changecolor purple" title="Purple color">Purple</a></li>
                <li><a class="changecolor orange" title="Orange color">Orange</a></li>
                <li><a class="changecolor navy" title="Navy color">Navy</a></li>
                <li><a class="changecolor gray" title="Gray color">Gray</a></li>
            </ul>
            <!-- /.dropdown-menu -->
        </li>
        <!-- /.dropdown-submenu -->

        <li class="dropdown-submenu">
            <a href="#">Submenu Levels</a>

            <ul class="dropdown-menu">
                <li><a href="#">Second Level</a></li>
                <li><a href="#">Second Level</a></li>

                <li class="dropdown-submenu">
                    <a href="#">More</a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Third Level</a></li>
                        <li><a href="#">Third Level</a></li>
                    </ul>
                    <!-- /.dropdown-menu -->
                </li>
                <!-- /.dropdown-submenu -->
            </ul>
            <!-- /.dropdown-menu -->
        </li>
        <!-- /.dropdown-submenu -->

    </ul>
    <!-- /.dropdown-menu -->
</li>
<!-- /.dropdown -->

    <li>
        <a href="pricing.html">Pricing</a>
    </li>

    <li>
        <a href="faq.html">FAQ</a>
    </li>

    <li>
        <a href="contact.html">Contact</a>
    </li>


</ul>
<!-- /.nav -->

<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

</div>
<!-- /.container -->
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.yamm -->
</div>
<!-- /.navbar -->
</header>

<!-- ============================================================= HEADER : END ============================================================= -->


<!-- ============================================================= MAIN ============================================================= -->

<main>